<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    <title>
      <% if @title %>
        <% if request.path_info =~ /edit/ %>
          Editing <%= @title %> |
        <% else %>
          <%= @title %> |
        <% end %>
      <% end %>
      Wiki
    </title>
    
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <header>
      <section id="top-bar">
        <section id="nav">
          <ul>
            <li><a href="/">Home</a></li>

            <% unless request.path_info =~ /login|create|edit|delete|^\/$/ %>
              <li><a href="/<%= params[:page] %>/edit">Edit</a></li>
              <li><a href="/<%= params[:page] %>/delete">Delete</a></li>
            <% end %>

            <% unless request.path_info =~ /login/ %>
              <li><a href="/create">Create a new page</a></li>
            <% end %>
          </ul>
        </section>

        <section id="auth">
          <% if logged_in? %>
            <p>Logged in as <%= @user %>. <a href="/logout">Logout</a></p>
          <% else %>
            <p><a href="/login/">Login</a></p>
          <% end %>
        </section>
      </section> <!-- End #top-bar -->

      <% if @title %>
        <% unless request.path_info =~ /edit/ %>
          <h1 id="title"><%= @title %></h1>
        <% end %>
      <% else %>
        <h1 id="title">Wiki</h1>
      <% end %>
    </header>

    <section id="page-wrap">
      <%= yield %>
    </section>

  </body>
</html>
